<web-app>
	<servlet>
    	<servlet-name>insertInquiryMapping</servlet-name>
    	<servlet-class>servlet.InsertInquiryServlet</servlet-class>
	</servlet>
	<servlet-mapping>
    	<servlet-name>insertInquiryMapping</servlet-name>
    	<url-pattern>/insertInquiry</url-pattern>
	</servlet-mapping>
	<servlet>
    	<servlet-name>loginAdminMapping</servlet-name>
    	<servlet-class>servlet.LoginAdminServlet</servlet-class>
	</servlet>
	<servlet-mapping>
    	<servlet-name>loginAdminMapping</servlet-name>
    	<url-pattern>/loginAdmin</url-pattern>
	</servlet-mapping>
	<servlet>
    	<servlet-name>listInquiryMapping</servlet-name>
    	<servlet-class>servlet.ListInquiryServlet</servlet-class>
	</servlet>
	<servlet-mapping>
    	<servlet-name>listInquiryMapping</servlet-name>
    	<url-pattern>/listInquiry</url-pattern>
	</servlet-mapping>
	<servlet>
    	<servlet-name>detailInquiryMapping</servlet-name>
    	<servlet-class>servlet.DetailInquiryServlet</servlet-class>
	</servlet>
	<servlet-mapping>
    	<servlet-name>detailInquiryMapping</servlet-name>
    	<url-pattern>/detailInquiry</url-pattern>
	</servlet-mapping>
	<servlet>
    	<servlet-name>insertReplyMapping</servlet-name>
    	<servlet-class>servlet.InsertReplyServlet</servlet-class>
	</servlet>
	<servlet-mapping>
    	<servlet-name>insertReplyMapping</servlet-name>
    	<url-pattern>/insertReply</url-pattern>
	</servlet-mapping>
</web-app>